/* 
    Document   : yvj.full.css
    Created on : May 9, 2012, 3:28:56 PM
    Author     : thor
    Description:
        Purpose of the stylesheet follows.
*/
/** --------------------- COMMON --------------------- */
* {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
html {
    font-size: 100%;
}
body { 
    background-color: #FDFDFD;
    font-family: 'Lucida Grande','Ubuntu',Verdana,Arial,Helvetica,Sans-serif;
    font-size: 10pt;
}
a, a:focus, a:visited {
    color: #0088CC;
    text-decoration: none;
}
a:hover, a:active {
    color: #005580;
    text-decoration: underline;
}
img {
    border: medium none;
    padding: 0;
    vertical-align: middle;
}

/** --------------------- COMMON CLASSES --------------------- */
.clear{clear:both;
      display:block
}
.errorMessage{color:red}
.main{clear:both;
     margin-top:60px;
}

div.innerContent{
    background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #DDDDDD;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05) inset;
    padding: 0.75em;
    padding-top: 1.25em;

}

/** --------------------- COMMON FORM FIELDS --------------------- */
div.formField label, div.formFieldName {
    color: #444444;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    padding-bottom:0.4em;
    display:block;
}
div.formField input[type="text"], div.formField input[type="password"], div.formField textarea, div.formField textarea {
    -moz-box-sizing: border-box;
    width: 100%;
}
input[type="text"], input[type="password"], textarea, div.formField select {
    -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #333333;
    font-size: 1em;
    padding: 4px;
}
.buttonWizardBar {
    border-top: 1px solid #F0F0F0;
    margin-top: 1em;
    padding-bottom: 1em;
    padding-top: 0.75em;
    text-align: right;
}
.button, .button:link, .button:visited, .button:focus {
    font-weight: bold;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #CCCCCC #CCCCCC #B3B3B3;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 0;
    margin-left: 0.5em;
    outline: medium none !important;
    padding: 4px 10px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
.button:hover {
    -moz-transition: background-position 0.1s linear 0s;
    background-color: #E6E6E6;
    background-position: 0 -15px;
    color: #333333;
    text-decoration: none;
}
.button:active {
    background-color: #E6E6E6;
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: 0 none;
}

/** --------------------- LOGIN FORM --------------------- */
#loginAlert{width: 250px;
            margin:0 auto
}
#loginForm{width: 300px;
           margin:40px auto;
}
#loginForm h1{
    text-indent: -99999px;
    background-position: center center;
    background-repeat: no-repeat;
    height: 40px;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #F3F3F3 url("../../images/logo_enscer.png") no-repeat center center;
    border-color: #DDDDDD #DDDDDD -moz-use-text-color;
    border-style: solid solid none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-width: 1px 1px medium;
    box-shadow: 0 1px 0 #FFFFFF inset;
    padding: 1em;
}
div.formField{
    margin-right: 0.5em;
    width: 100%;
    margin-bottom: 1.25em;
}

.buttonLink {
    white-space: nowrap;
}
/** --------------------- COMMON ALERT BOX -------------------- **/
.errorSummary{margin-bottom:10px;}

.errorSummary li {
    background: url("../../images/theme_icon_exclamation.gif") no-repeat scroll left center transparent !important;
    color: #D40E0E !important;
    padding-left: 12px !important;
}
.alert-success {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #468847;
}
.alert-block,.errorSummary {
    padding-bottom: 14px;
    padding-top: 14px;
}
.alert,.errorSummary {
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    border-radius: 4px 4px 4px 4px;
    font-size: 0.9em;
    line-height: 125%;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.alert > h4,.errorSummary p {
    font-weight: bold;
    margin-bottom: 0.75em;
}

/** --------------------- MENU BAR -------------------- **/
.barmenu{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , #464646 0pt, #323232 100%) repeat scroll 0 0 transparent;
    border-color: -moz-use-text-color -moz-use-text-color #000000;
    border-style: none none solid;
    border-width: medium medium 1px;
    box-shadow: 0 0 2px #000000;
    font-size: 11px;
    height: 45px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}
.barmenu li{
    float:left;
    height: 11px;
}
.barmenu li a{
    -moz-transition: background 0.1s linear 0s;
    color: white;
    display: block;
    height: 14px;
    outline: medium none;
    padding-bottom: 15px;
    padding-left: 12px !important;
    padding-right: 12px;
    padding-top: 15px;
    text-decoration: none;
    padding: 17px 12px 16px;
    color: white;
}
.barmenu li a:hover {
    background: none repeat scroll 0 0 #505050 !important;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1) inset;
}
.barmenu li a:active {
    background: none repeat scroll 0 0 #323232 !important;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1) inset;
}
#menu-top ul { list-style: none; margin: 0; padding: 0; position: relative; height: 45px; width:93%;float:right; }
#menu-top ul li {border-right:1px solid #282828; display: block; height: 45px;width:100px;text-align:center; float: left; overflow: visible; }
#menu-top ul li:hover > ul { display: block; }
#menu-top ul li a { display: block; }
#menu-top ul li ul {width:auto; float:none; background:#333333; display: none; position: absolute; top: 100%;color: #fff; height: auto;}
#menu-top ul li ul li{height:30px;display:block !important;float:none !important}
#menu-top ul li ul li a {height:20px; line-height: 20px; color: #ccc; padding: 4px 14px; display: block; }
#menu-top ul li ul li.active a,
#menu-top ul li ul li a:hover { color: #fff;}
.userInfo{background:url('../../images/theme_icon_logout.png') no-repeat center center; border-left: 1px solid #282828; float:right;width:3%;height:46px;}
.userInfo:hover{background:#505050 url('../../images/theme_icon_logout.png') no-repeat center center ;}
.logoTag{float:left;height:47px;width:3.5%;background: -moz-linear-gradient(center top , rgba(253, 253, 253, 1), rgba(238, 238, 238, 1)) repeat scroll 0 0 #C4C4C4;}
.logoTag a{display:block;width:100%;height:100%;background:url('../../images/tag_icon.png') no-repeat center center;}

/** ------------------- COMMON BOX STYLE -------------------------- **/
.ibox {
    font-size: 1em;
    font-weight: normal;
    padding: 0;
    position: relative;
}
.ibox .iboxHeader {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F3F3F3;
    border-color: #DDDDDD #DDDDDD -moz-use-text-color;
    border-style: solid solid none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-width: 1px 1px medium;
    box-shadow: 0 1px 0 #FFFFFF inset;
    padding: 1em;
}
.ibox .iboxContent {
    background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #DDDDDD;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05) inset;
    padding: 0.75em;
}
.ibox li {
    border-bottom: 1px solid #F5F5F5;
    line-height: 170%;
    list-style-image: none;
    list-style-position: outside;
    margin-left: 0;
}
.ibox li a {
    display: block;
    padding-bottom: 0.1em;
    padding-left: 0.75em !important;
    padding-right: 0.75em;
    padding-top: 0.1em;
    border: 1px solid transparent;
    background: none repeat scroll 0 0 transparent !important;
}
.ibox li a blockquote {
    color: #666666 !important;
    display: block !important;
    white-space: normal !important;
    font-size: 0.85em;
    font-style: normal;
    line-height: 110%;
    margin: 0 0 0.5em;
}
.ibox li a:hover {
    background-color: #F2F2F2;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    text-decoration: none;
}
.ibox .iboxHeader h4 {
    border: medium none;
    color: black;
    display: inline;
    font-size: 1em;
    font-weight: bold;
    padding: 0;
    text-shadow: 0 1px 0 white;
}
.ibox .iboxHeader img {
    float: left;
    margin-right: 0.5em;
}

.ibox .iboxHeader blockquote {
    color: #666666;
    font-size: 0.9em;
    margin: 0.2em 0 0;
    padding: 0;
}
/**---------------------------STRUTURE CLASSES --------------- **/
#mainPage{padding: 1em 3em 5em;}
.twoColumn > .columnone {
    float: left;
    width: 49%;
}
.twoColumn > .columntwo {
    margin-left: 52%;
}

/**---------------------------FOOOTER CLASSES ------------------**/
div.footer{
    bottom: 0; 
    width:100%;
    position:fixed;
    font-size: 11px;
    border: 1px solid #DADADA;
}
div.footer > div {
    clear:both;
    background-color: #F5F5F5;
    border: 1px solid #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    padding: 11px;
}

/**--------------------------- PANELGROUP CLASSES ------------------**/
.panelGroup{
    clear: both;
}
.panelGroup:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.panelGroupHeader{background-color: #F3F3F3;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 #FFFFFF inset;
    font-size: 0.95em;
    font-weight: bold !important;
    margin-bottom: 1em;
    padding: 5px 10px;
    position: relative;
    text-shadow: 0 1px 0 white;
    vertical-align: middle;
}
.panelGroupBody {
    padding:0 0.2em;
}
.panelGroupAbout{
    color: #333333;
    font-size: 0.8em;
    padding-bottom: 1.25em;
}

/*** -------- GRID VIEW STYLE CLASS ----------------**/
.grid-view {
    width: 100%;
    padding:0px !important;
}
.summary{
       color: #333333;
        font-size: 0.8em; 
}
table.items {
    border-collapse: collapse !important;
    border: 1px solid #A8A8A8 !important;
    color: #4F4F4F;
}
table.items thead tr {
    box-shadow: 0 1px 0 #FFFFFF inset;
    background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0 #C4C4C4 !important;
   text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    padding:50px !important;
    border: 1px solid #DDDDDD;
    border-bottom: 1px solid #F6F6F6 !important;
}
table.items th, table.items tfoot td, table.items th div {
    padding:0.5em !important;
    background:none!important;
    color: #333333 !important;
    font-size: 1em !important;
    font-weight: bold !important;
    white-space: nowrap;
}
table.items a{color:#333 !important}
table.items td, table.items th {
    padding: 0.4em 0.5em;
    border-collapse: collapse !important;
    border: 1px solid #A8A8A8 !important;
    text-align: left;
    vertical-align: middle;
}

.grid-view .pager{
    margin:0px !important;
    border:1px solid #DDDDDD;
    background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0 #C4C4C4;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    padding: 0.7em;
}
.grid-view table.items tr.even{background:#fff !important;}
.grid-view table.items tr.odd {background:#F3F3F3 !important;}
.yiiPager li{
            padding:0.3em 0;
            color: #4F4F4F;
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
            border-radius: 3px 3px 3px 3px;
            background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0 #C4C4C4;
            border: 1px solid #A8A8A8;
}
.yiiPager li a{ color: #4F4F4F;border:0px !important;
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);}
.yiiPager li a:hover{
    border: 1px solid #7096AB;
}

ul.yiiPager .selected a{background:none !important;color:#888888 !important;font-weight: bold !important}
.multItens{margin-bottom:10px;}
.multItens li{border-bottom:1px solid #F5F5F5;font-size:11px;padding:5px 0px;}