body {
	margin: 0px;
	background-color: #D1E0CD;
	background-image: url(../img/background-texture.png);
	background-repeat: repeat;
}

#boxraio {
	width: 54px;
	height: 100px;
	margin-top: 92px;
	margin-left: 48%;
	float: left;
}

#boxtexto {
	width: auto;
	height: auto;
	margin-top: 160px;
	margin-left: -270px;
	float: left;
}

.texto1 {
	font-family: Tellural;
	color: #51B899;
	text-align: center;
	text-decoration: none;
	text-height: 52px;
	font-size: 48px;
}

#boxbotao {
	width: 120px;
	height: 60px;
	float: left;
	margin-top: 0px;
	margin-left: 45%;
	background-color: #ACDD31;
	border-radius: 5px;
        cursor:pointer;
}

.texto2 {
	font-family: Tellural;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	text-height: auto;
	font-size: 36px;
	padding-top: 20px;
}