/* 
    Document   : render.css
    Created on : Apr 11, 2014, 12:20:18 PM
    Author     : ipti002
    Description:
        Purpose of the stylesheet follows.
*/

/** Reset **/
ul, ol, li {
    list-style: none;
}
.theme{
    background:#585858;
    font-family:sans-serif;
}
.cobjects{
    width:100%;
    clear:both;
}

.cobjectInfo {
    text-align: center;
}

.elementCOText{
    font-size: 14px;
    text-transform: uppercase;
    position: absolute;
    top: 0%;
    transform: translateY(75%);    
}

.cobjectInfo {
    height: 30px;
    background: #4EB898;
    color: #fff;
    padding: 10px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, .75);
    font-size: 20px;
    font-family: asap, arial, sans-serif;
}

.toolbar {
    text-align: right;
}

.cobjects li{
    list-style-type: none;
}

#nextPiece, #begin_activity{
    text-align: right;
}

.nextPiece{
    cursor:pointer;
    background: #ACDD31;
    border: none;
    padding: 0px 60px;
    color: #fff;
    font-size: 26px;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #2C2C2C;
    position: absolute;
    left: calc(50% - 90px);
    top: calc(100% - 80px);
}

.element { 
    display: block;
}

.elementCO {
    display: inline-block;
    text-align: center;
}

.elementCO.element-build_sound .soundIconPause{
    height: 33px;
    width: 33px;
}

.elementCO.element-build_image{
    width: 100px;
}

fieldset{
    border:2px solid gray;
}

#import_data{
    text-align: center;
    margin-top: 100px;
}

#import_data #enviar{

}

.toolBar {
    clear: both;
    text-align: center;
    margin-top:40px;
}

/** Nível e Pontos **/
.game {
    position: absolute;
    top: 12px;
    right: 15px;
}

.level {
    float: left;
    margin-right: 15px;
}

.points {
    float: left;
}

.score-icon {
    float: left;
    width: 50px;
    margin-right: 5px;
}

.score-number {
    float: left;
    font-family: tellural, helvetica, arial, sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: yellow;
}

#points, #level {
    color: #fff;
}

/** PieceSet Global **/
.pieceset {
    background-color: rgba(78, 184, 152, 0.75);
}

/** Questão **/
.pieceSetInfo {
    padding: 10px 0;
    padding: 10px;
    color: white;
    font-size: 35px;
    line-height: 35px;
    height: 180px !important;
    width: 800px;
    margin: 0 auto;
    position: relative;
}

.pieceSetInfo .elementImage {
    float: left;
    margin-right: 15px;
    list-style: none;
}

.pieceSetInfo .elementImage img { 
    display: block;
    height: 180px;
    width: 180px;
    border: 1px solid rgba(0, 0, 0, 0.49);
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.37);
}

/** Respostas Global**/

.elementSound{
    display:none;
}

.soundIconPlay{
    width:100%;
    height:100%;
}

.answer-container {
    border-top: 1px solid #fff;
    background-color: #D1E0CD;
    box-shadow: 0px -1px 0px rgba(0,0,0,0.1);
}

/** Template TXT **/
.book {
    background: #fff;
    margin-left: 70px;
    margin-right: 70px;
    border: 4px solid #FBB03B;
    font-family: tellural,helvetica, arial, sans-serif;
    color: #51B899;
    font-weight: bold;
    font-size: 30px;
}

.book-right {
    padding: 20px;
    float: left;
    width: 45%;
    line-height: 40px;
    border-left: 4px solid #FBB03B;
    margin-left: -4px;
}

.book-left {
    float: left;
    width: 50%;
    border-right: 4px solid #FBB03B;
}

.book-left .element img {
    height: auto;
}

.book-right .element-build_sound {
    text-align: center;
    margin: 10px 0 10px 0;
}

.book-right .element-build_sound img {
    width: 100px;
    height: 100px;
}

/** Template MTE **/
.ask, .answer {
    text-align: center;
    display: table;
    margin: auto;
}

.answer {
    margin-top: 10px;
}

.DDROP .ask {

}

.MTE .group, .AEL .group{
    float:left;
    padding: 10px 5px;
    cursor: pointer;
    position: relative;
    border: 3px solid transparent;
}

.DDROP .group,  .ONEDDROP .group{
    float:left;
    padding: 5px;
    margin: 0 10px;
    border: 3px solid transparent ;
    position: relative;
}


.DDROP.group.drag, .ONEDDROP.group.drag {
    cursor: pointer;
}

.elementText {
    font-size: 19px;
    text-transform: uppercase;
}

.content{
    text-align: center;
    height: calc(100% - 50px);
    min-height: calc(100% - 50px) !important;
}

.element img {
    height: 150px;
    border-radius: 2px;
}

.group.build_text.build_sound .element-build_text {
    margin-top: 0;
}

/* ALTERNATIVAS */
/* texto + imagem + som */
.group.build_image.build_text.build_sound .element-build_sound img,  .group.build_image.build_sound .element-build_sound img{
    position: absolute;
    top: 11px;
    right: 11px;
    width: 30px;
    height: 30px;
    margin: 0;
}

.element-build_text .elementText {
    display: block;
    margin-top: 40%;
}


/* imagem + texto */
.group.build_image.build_text .elementImage img {
    height: 150px;
    border: 2px solid #808080;
    border-radius: 2px;
    border: 1px solid #4F4F4F;
    border-radius: 2px;
    box-shadow: 1px 1px 3px #A8A8A8;
}


.group.build_image.build_sound.build_text .element-build_text {
    bottom: 7px;
}

.group.build_image.build_text .element-build_text {
    position: absolute;
    bottom: 7px;
    text-align: center;
    left: 0;
    right: 0;
    padding: 0 10px;
}

.group.build_sound .element-build_sound img{
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.group.build_sound.build_text .element-build_text {
    position: absolute;
    bottom: 30px;
    text-align: center;
    left: 0;
    right: 0;
    padding: 0 10px;
}


.group.build_sound.build_text .element-build_sound img{
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-left: -20px; 
    z-index: 999;
}

.group li:first-child {
    width: 150px;
    height: 150px;
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    margin: 0;
}

/* QUESTÃO */
/* imagem + texto + som */
.question-container.build_sound.build_text.build_image .element-build_sound img {
    position: absolute;
    width: 67px;
    height: auto;
    left: 15px;
    cursor: pointer;
}

.question-container.build_text.build_image .element-question {
    text-align: left;
}

/* texto + som */
.question-container.build_sound.build_text .element-build_sound img {
    width: 100px;
    height: auto;
    cursor: pointer;
    float: left;
}

.question-container.build_sound.build_text > .element-question {
    text-align: left;
    margin-left: 110px;
    margin-top: 10px;
}

/** Dropdown **/
.drop {
    z-index: 1;
}

.drag {
    z-index: 100;
}

.ui-draggable-dragging {
    z-index: 1000;
}

.ui-draggable-dropping {
    z-index: 1000;
    border: 5px solid #000;
}

/*
/** Template AEL **
.AEL .ask{
    text-align: center;
    display: table;
    margin: auto;
}

.AEL .group{
    float:left;
    width: 160px;
    height: 140px;
    background: #51B899;
    border-radius: 5px;
    padding: 7px;
    margin: 0 10px;
    cursor: pointer;
}

.AEL .elementText {
    font-size: 19px;
    text-transform: uppercase;
}

.AEL .element-build_text {
    margin-top: 40%;
}

.AEL .group.build_image.build_text .elementImage img {
    height: 121px;
}

.AEL .group.build_image.build_text .element-build_text {
    margin-top: 0;
}*/




/** Template PRE **/
.PRE fieldset {
    margin: auto;
    text-align: center;
}
.PRE input {
    margin: 0 0 50px 0;
    border: 9px solid #51b899;
    width: 672px;
    padding: 5px 15px;
    font-size: 25px;
}

.refreshQuestion {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 35px !important;
    cursor:pointer;
}