
select {
    background: #E9A232;
    padding: 8px 15px;
    width: 80%;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 6px #2C2C2C;
    color: #fff;
}

#select-student .login-label {
    width: 120px;
}

#select-student {
    margin: 5% auto;
    width: 63%;
    position: relative;
}

.block{
    width: 50%;
    text-align: center;
}


/** Overlay **/

.overlay {
    background: rgba(255, 255, 255, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    display: none;
    z-index: 100000;
}

 #select-mode {
    z-index: 100001;
}

.message-container {
    width: 350px;
    margin: 150px auto;
    text-align: center;
    font-family: tellural, helvetica, arial, sans-serif;
    color: #fff;
    font-size: 36px;
    padding: 30px;
    border-radius: 6px;
    line-height: 44px;
    box-shadow: 1px 1px 8px #2C2C2C;
}

 #select-mode .message-container, #select-level .message-container{
    background: rgba(78, 184, 152, 0.75);
    font-size: 25px;
}


.modal-title{
     font-size: 36px;
     margin-bottom: 10px;
}